@font-face {
    font-family: "poplight";
    src: url("/Poppins-Light.ttf");
}
@font-face {
    font-family: "popmid";
    src: url("/Poppins-Medium.ttf");
}
@font-face {
    font-family: "popregular";
    src: url("/Poppins-Regular.ttf");
}
:root{
    --body: #47acde;
    --green: #258f25;
    --dark-gray: #838181;
    --gray-1: #c9c4c4;
    --gray-2: #e8e2e2;
    --white: #ffffff;
    --font-1: "poplight", sans-serif;
    --font-2: "popmid", sans-serif;
    --font-3: "popregular", sans-serif;
    --border-radius: 20px;
    --border-radius-1: 5px;
    --transition: all 0.5s ease-in-out;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--body);
    font-size: 2rem;
}
a{
    text-decoration: none;
}
.main{
    text-align: center;
    background-color: var(--gray-2);
    width: 600px;
    height: 500px;
    border-radius: var(--border-radius);
    margin: 4rem auto 0 auto;
    padding: 2rem;
    .main-header{
        font-family: var(--font-3);
        font-size: 4rem;
        position: relative;
        margin-bottom: 2rem;
    }
    .main-header::before{
        content: "";
        width: 150px;
        height: 3px;
        position: absolute;
        top: 43%;
        left: 6%;
        background-color: var(--dark-gray);
    }
    .main-header::after{
        content: "";
        width: 150px;
        height: 3px;
        position: absolute;
        top: 48%;
        right: 6%;
        background-color: var(--dark-gray);
    }
    .head-text{
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    .input1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .txt{
            margin: 1rem 1rem;
            height: 35px;
            padding-left: .5rem;
            font-size: 1.5rem;
            outline: none;
            border-radius: var(--border-radius-1);
            border: 1px solid var(--dark-gray);
        }
    }
    .input2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .txt1{
            margin: .9rem 0;
            width: 398px;
            height: 35px;
            padding-left: .5rem;
            font-size: 1.5rem;
            outline: none;
            border-radius: var(--border-radius-1);
            border: 1px solid var(--dark-gray);
        }
    }
    .check{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .txt2:first-child{
            margin-right: 4.7rem;
        }
    }
    .btn{
        margin-top: 2.1rem;
        padding: 0.9rem;
        width: 71%;
        color: var(--white);
        background-color: var(--green);
        border: 1px solid var(--green);
        font-size: 1.5rem;
        cursor: pointer;
        transition: var(--transition);
        border-radius: var(--border-radius-1);
        &:hover{
            color: var(--green);
            background-color: var(--white);
            border: 1px solid var(--green);
        }
    }
}




.lonep{
    text-align: center;
    margin: 1.2rem auto;
    color: var(--white);
    .link{
        color: blue;
        text-decoration: none;
        &:visited{
            color: purple;
        }
    }
}